@charset "utf-8";
body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, select, textarea, button, th, td { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
ul, dl, ol { list-style: none; }
img, fieldset, input[type="submit"] { border: 0 none; }
img { display: inline-block; overflow: hidden; vertical-align: top; }
em { font-style: normal; }
table { border-collapse: collapse; border-spacing: 0; }
button, input[type="button"] { cursor: pointer; border: 0 none; }
menu { margin: 0; padding: 0; }
input[type="number"] { -webkit-user-select: text; }
a, button, input, img { -webkit-touch-callout: none; }
input, select, textarea { outline: none; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; font-size: 0; }
.clearfix { display: inline-block; zoom: 1; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { zoom: 1; }
html, body { height: 100%; }
a { text-decoration: none; }
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; }
input[type=button] { -webkit-appearance: none; outline: none; }
html { font-size: 62.5%; overflow-x: hidden; }
body { font-family: Helvetica, STHeiti, Droid Sans Fallback; font-size: 1.2rem; line-height: 1.6; color: #fff; height: 100%; background: #6178ea; -webkit-user-select: none; -webkit-text-size-adjust: none!important; -webkit-overflow-scrolling: touch;/*流畅滚动*/ }
.wrap { height: 100%; }
header { position: absolute; top: 0; left: 50%; margin-left: -40%; width: 80%; }
header ul { text-align: center; }
header ul li { display: inline-block; }
header ul li a:link, header ul li a:visited { display: block; padding: .4rem 1.4rem; color: aliceblue; background: #3b53ca; border-radius: .6rem; border-top-left-radius: 0; border-top-right-radius: 0; box-shadow: 0 .5rem 1rem #9eaeff; }

.area{ padding-top: 40%; margin: 0 auto; width: 70%;text-align: center;}
.area h3{  padding: 1rem 0; width:70% ; text-align: center; font-size: 2rem; margin: 0 auto;}
.area p{ text-align: center; padding: .5rem 0; font-size: 1.1rem;}
.area .aa-input{ border: .1rem solid #8c9fff; margin-top: 5%; margin-bottom: 5%; text-align: left;}
.area .aa-input input{ border: none; background:none; padding: .5rem; color: #b2bfff; }

.area .btn-anniu{ text-align:center; display: inline-block; border-radius: .5rem; padding: .7rem 1rem; background: #f7ce5c; font-size: 1.5rem;}

footer{ position: absolute; bottom: 3%; left: 50%; margin-left: -45%; width: 90%; color: #b5c1ff; font-size: 1rem; text-align: center;}
/*--------5/5s/se--------*/
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2) {
}
